<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person"
		class="com.light.spring.core.autowire.byname.Person" autowire="byName">
		<property name="id" value="456"></property>
		<property name="name" value="John Doe"></property>
	</bean>

	<bean name="address"
		class="com.light.spring.core.autowire.byname.Address">
		<property name="unitName" value="Unit 76"></property>
		<property name="street" value="9-8 George St"></property>
		<property name="area" value="London"></property>
		<property name="pin" value="12345"></property>
	</bean>
</beans>
